.container
  .col-md-12
    nav.site-nav
      .col-md-12
        ul.topnav#myTopnav
          li
            a(href="#brand") Brand
          li
            a(href="#about") About
          li
            a(href="#Stuff") Stuff
        ul.topnav.right
          li
            a(href="#brand") Brand
          li
            a(href="#about") About
          li
            a(href="#Stuff") Stuff
