button img {
  height: 8em;
  width: 8em;
}

.btn {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

div .background {
  transition: background-image 0.5s ease-in-out;
  background-image: url(/img/defaultBackground.jpg);
  background-size: cover;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 1px 5px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 1px 5px 8px rgba(0,0,0,0.75);
  box-shadow: inset 0px 1px 5px 8px rgba(0,0,0,0.75);
  /*-webkit-box-shadow: inset 2px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 10px 5px 0px rgba(0,0,0,0.75);*/
  /*height: 60em;*/
}

form.overwatch, form.starcraft2, form.league {
  display: none;
}

#games {
  padding-top: 5em;
}

#forms {
  padding-top: 3em;
  font-family: fantasy;
  font-size: 2em;
  color: white;
  display: hidden;
}

#title {
  padding-top: 3em;
}

#title h1 {
  font-family: fantasy;
  font-size: 5em;
  color: white;
}
